html {
  /* Needed to stick background image to the bottom of the page. */
  min-height: 100%;
}

body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: white;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  background-color: #222;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: linear-gradient(#222 80%, transparent 100%
  ), url("https://static.vecteezy.com/system/resources/previews/016/596/768/large_2x/gray-concrete-wall-texture-grunge-background-distressed-grunge-texture-and-dark-gray-charcoal-color-paint-background-illustration-free-vector.jpg");
  /*background-repeat: no-repeat;*/
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: "Cardo", serif;
  /*text-shadow: 0 0 10px white;*/
}

p {
  margin: auto 5px;
}

header {
  border-bottom: 1px solid white;
  margin-bottom: 1rem;
}

h1 {
  margin-bottom: 1rem;
}

card {
  display: block;
  border: 1px solid transparent;
}

card > h2 {
  margin: 0;
}

card > time {
  display: inline-block;
  margin-bottom: 1rem;
}

time {
}

card {
  margin-top: 2rem;
}

nav {
  margin-top: 2rem;
  padding-left: 5rem;
}

nav > ul {
  word-spacing: 5rem;
}

nav > ul > li {
  display: inline;
}

footer {
  padding-top: 1rem;
  border-top: 1px solid white;
  margin-top: 2rem;
  text-align: center;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  header {
    text-align: center;
  }
  nav {
    padding-left: 0;
    ul {
      padding-left: 0;
    }
  }
}

a {
  color: tan;
  text-decoration: none;
}

a:hover {
  text-shadow: 0 0 5px white;
  text-decoration: underline;
}

header #container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  /*border: 1px solid lightgreen;*/
}

#headers {
  flex-shrink: 0;
  flex-grow: 100;
  /*border: 1px solid red;*/
}

#socials {
  flex-shrink: 0;
  margin-top: auto;
  margin-bottom: auto;
  word-spacing: 10px;
  /*border: 1px solid lightpink;*/
  /* Gets rid of extraneous blank spaces */
  font-size: 0;
}

#socials a {
  display: inline-block;
  border-radius: 5px;
  width: 3rem;
  height: 3rem;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
}

#socials img {
  display: inline;
}

#socials a:hover {
  background-color: #131313;
}

#tags {
  margin-top: 2rem;
}

#tags {
  word-spacing: 1rem;
}

#tags > ul {
  margin: 1rem 0 0 0;
  padding: 0;
}

#tags > ul > li {
  display: inline;
  padding: 5px 10px;
  border-radius: 1rem;
}

#tags > ul > li:hover {
  background-color: rgba(255, 0, 0, 0.3);
}