<div id="container">
  <div id="headers">
    <h1>{{ site.Title }}</h1>
    {{ with .Site.Params.subtitle }}
      <p>{{ . }}</p>
    {{ end }}
  </div>
  <div id="socials">
    <a href="https://mastodon.social/@max@maxbanister.com"><img src="/images/mastodon-icon.svg" width="32" height="36"/></a>
    <a href="https://bsky.app/profile/maxbanister.com"><img src="/images/bluesky-icon.svg" width="32" height="32"/></a>
    <a href="#"><img src="/images/threads-logo-white.svg" width="32" height="32"/></a>
    <a href="/index.xml"><img src="/images/feed-icon.svg" width="32" height="32"/></a>
  </div>
</div>

{{ partial "menu.html" (dict "menuID" "main" "page" .) }}
